.sidebar-section {
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sidebar-section Label {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
}

.sidebar-section Label:hover {
	-fx-background-color: #03fcf4;
}